flows.json
[{"id":"89467f25.a1b3d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f6f3f133.9f68e","type":"ttn uplink","z":"89467f25.a1b3d","name":"","app":"96edc2a2.08fa6","dev_id":"01","field":"","x":180,"y":380,"wires":[["5a0ddec5.d55cf"]]},{"id":"5a0ddec5.d55cf","type":"function","z":"89467f25.a1b3d","name":"","func":"return msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["bd5835d6.355ec8","8162421e.e35f9","86a5b203.97974"]]},{"id":"8162421e.e35f9","type":"ui_gauge","z":"89467f25.a1b3d","name":"","group":"77e7ad20.19cac4","order":0,"width":0,"height":0,"gtype":"gage","title":"Gaz level","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":240,"wires":[]},{"id":"bd5835d6.355ec8","type":"debug","z":"89467f25.a1b3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]},{"id":"86a5b203.97974","type":"ui_chart","z":"89467f25.a1b3d","name":"","group":"77e7ad20.19cac4","order":1,"width":0,"height":0,"label":"Evolution en fonction du temps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":970,"y":300,"wires":[[]]},{"id":"96edc2a2.08fa6","type":"ttn app","appId":"thingsuno_test_iss_imde","accessKey":"ttn-account-v2.lcjxMRGgmMd7K1XG053xBqAfYJoimDMb0k6Tb4bzGTQ","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"77e7ad20.19cac4","type":"ui_group","name":"Gaz Information","tab":"60eae383.21e42c","order":1,"disp":true,"width":"6","collapse":false},{"id":"60eae383.21e42c","type":"ui_tab","name":"GazSensorTab","icon":"dashboard","disabled":false,"hidden":false}]